.map-app-panel {
    display: flex;
    flex-direction: column;
    height: 100%;
}
.map-app-header {
    display: flex;
    align-items: center;
    height: 3rem;
    border-bottom: 1px solid rgba(0, 0, 0, 0.15);
}
.map-app-header-icon {
    flex-shrink: 0;
    display: flex;
    align-items: center;
    justify-content: center;
    width: 3rem;
    height: 100%;
    background-color: rgba(56, 189, 248, 0.1);
    border-right: 1px solid rgba(0, 0, 0, 0.3);
}
.map-app-header-icon svg {
    width: 1.5rem;
    height: 1.5rem;
}
.map-app-header-title {
    height: 100%;
    display: flex;
    align-items: center;
    flex: 1;
    padding: 0 1rem;
    font-size: 1rem;
    font-weight: 700;
}
.map-app-main {
    flex: 1;
    overflow: hidden;
}
.map-app-results {
    border-top: 1px solid rgba(0, 0, 0, 0.15);
}

.map-app-search-panel .bp6-card-list .bp6-card {
    justify-content: space-between;
}
.map-app-search-panel .bp6-card-list .bp6-card .menu-icon {
    margin-right: 10px;
}
/*.map-app-search-panel .bp6-card {
    --_blur: 1rem;
    -webkit-backdrop-filter: blur(var(--_blur));
    backdrop-filter: blur(var(--_blur));
    background-color: #ffffff80 !important;
    border-radius: 10px;
}*/

.map-app-search-panel h3 {
    user-select: none;
}

.map-app-search-panel .bp6-panel-stack2 {
    min-height: 300px;
    height: 100%;
    width: 300px;
    box-shadow: var(--bp-surface-shadow-2);
    border-radius: 6px;
}
.map-app-search-panel .bp6-panel-stack2-header {
    height: 40px;
    user-select: none;
}
.map-app-search-panel .bp6-button.bp6-panel-stack2-header-back {
    margin-left: 6px;
}

.map-app-search-panel .bp6-panel-stack2 .bp6-card-list {
    box-shadow: none;
    background-color: transparent;
}

.map-app-search-panel .bp6-panel-stack2 .bp6-callout {
    margin-bottom: 1rem;
}